.form{
    display: flex;
    flex-direction: row;
    margin: auto;
    z-index: 10000;
    background-color: aqua;
    box-shadow: none;
   width: auto;
    border-radius: 10px;
}

@media screen and (max-width:600px) {
    .form{
        flex-direction: column;
        justify-content: center;
        align-items: center;
       margin-top: 0;
    }

   
     
   
  }
